<!-- ============================================ -->
<!--                  Navigation                  -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <a href="/" class="cs-logo" aria-label="Deep Sea Digital Home" style="text-decoration: none;">
            <img src="/assets/images/deep1.png" alt="Deep Sea Digital Logo" style="max-height: 48px; width: auto;">
        </a>
        
        <nav class="cs-nav" aria-label="main navigation">
            <button class="cs-toggle" id="cs-toggle" aria-expanded="false" aria-controls="cs-ul-wrapper" aria-label="mobile menu toggle" aria-haspopup="menu">
                <span class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </span>
            </button>
            <div class="cs-ul-wrapper" id="cs-ul-wrapper" inert>
                <ul id="cs-expanded" class="cs-ul">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link {% if page.url == '/' %} cs-active {% endif %}">Home</a>
                    </li>
                    <li class="cs-li">
                        <a href="/about/" class="cs-li-link {% if page.url == '/about/' %} cs-active {% endif %}">About</a>
                    </li>
                    <li class="cs-li">
                        <a href="/pricing/" class="cs-li-link {% if page.url == '/pricing/' %} cs-active {% endif %}">Pricing</a>
                    </li>
                    <li class="cs-li">
                        <a href="/reviews/" class="cs-li-link {% if page.url == '/reviews/' %} cs-active {% endif %}">Reviews</a>
                    </li>
                    <li class="cs-li cs-hide-on-desktop">
                        <a href="/contact/" class="cs-li-link {% if page.url == '/contact/' %} cs-active {% endif %}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="/contact/" class="cs-button-solid cs-nav-button">Get Started</a>
        <button id="dark-mode-toggle" aria-label="dark mode toggle" aria-pressed="false">
            <img class="cs-moon" aria-hidden="true" src="/assets/svgs/moon.svg" decoding="async" alt="" width="15" height="15">
            <img class="cs-sun" aria-hidden="true" src="/assets/svgs/sun.svg" decoding="async" alt="" width="15" height="15">
        </button>
    </div>
</header>